body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f26101;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  background: #fff;
  display: flex;
  justify-content: space-around;
  
}

nav a {
  text-decoration: none;
  padding: 15px;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #f26101;
}

.main {
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #f26101;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d35400;
}

.foto_logo{
    position: relative;
    width: 3vw;
}
.navegacion-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f26101;
  
  
  width: 90vw;
}
nav a:hover {
  color: #ffffff;
}
