<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JYV_TOOLS</title>
  <link rel="stylesheet" th:href="@{/css/style_admin_herramienta.css}">
</head>

<body>
  <header>
    <div class="logo"><img class="foto_logo" src="img/logo_JYV_TOOLS.png" alt=""></div>
    <div>
      <nav class="navegacion-links">
        <a href="admin_herramienta.html">Herramientas</a>
        <a href="admin_registrar.html">Registrar</a>
        <a href="admin_eliminar.html">Eliminar</a>
        <a href="admin_reporte.html">Reporte</a>

        <a href="admin_devolucion.html">Devolución</a>
        <a href="admin_historial.html">Historial</a>
        <span>🔔</span>
       <span>👤</span>
      </nav>
      
    </div>

  </header>



  <div class="main">
    <h2>Herramientas Disponibles</h2>
    <div class="search-bar">
      <input type="text" placeholder="¿Qué estás buscando?">
      <button>Filtrar</button>
    </div>
    <div class="card">
      <img src="img/fondo_herramientas.jpeg" alt="Herramienta 1" width="100">
      <p><strong>Herramienta 1</strong></p>
      <p>$3000 / Día</p>
      <button class="btn">Reservar</button>
    </div>
  </div>
</body>

</html>