<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JYV_TOOLS</title>
    <link rel="stylesheet" th:href="@{/css/style_admin_reporte.css}">
</head>
<body>
  <div class="header">
    <div class="contain">

      <div class="logo"><img th:src="@{/img/logo (2).png}" alt=""></div>

        <div class="navbar">
          <a class="icon1"th:href="@{/admin_herramienta}">👤 Usuarios</a>
          <a class="icon2" th:href="@{/admin_registrar}">📅 Registrar</a>
          <a class="icon3" th:href="@{/admin_eliminar}">💳 Eliminar</a>
          <a class="icon4" th:href="@{/admin_reporte}">📄 Reporte</a>
          <a class="icon5" th:href="@{/admin_devolucion}"> 👜 Devolución</a>
          <a  class="icon6" th:href="@{/admin_historial}">🧾 Historial</a>
        </div>

        <div class="notifi_User">
          <img  class="notificacion" th:src="@{\img\campanita.png}" alt="">
          <a th:href="@{/Perfil}">
              <div class="circle_users">
                  <img src="/img/user.png">
              </div>
          </a>
          <label for="Checko">
              <img  class="notificacion" th:src="@{\img\Menu (2).png}" alt="">
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="main">
    <input type="checkbox" name="check" id="Checko">
    <div class="cerrarSesion">
        <button  id="cerrar" type="submit">Cerrar sesion</button>
    </div>
    <h2>Generar Reporte por Herramienta</h2>
    <form>
      <label for="herramienta">Selecciona la herramienta:</label>
      <select id="herramienta" name="herramienta" required>
        <option value="" disabled selected> Elige una herramienta </option>
        <option value="herramienta1">Herramienta 1</option>
        
        <-- falta fotos de herramientas -->
      </select>

      <label for="tipoReporte">Tipo de reporte:</label>
      <select id="tipoReporte" name="tipoReporte" required>
        <option value="uso">Uso</option>
        <option value="reservas">Reservas</option>
        <option value="ingresos">Ingresos</option>
      </select>

      <button class="btn" type="submit">Generar</button>
    </form>
  </div>
</body>
<script th:src="@{/js/cerrarSesion.js}"></script>
</html>
