<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style_Historial.css}">
    <title>JYV_TOOLS_Historial</title>
</head>
<body>
    <div class="header">
        <div class="contain">

            <div class="logo"><img th:src="@{/img/logo (2).png}" alt=""></div>

            <div class="navbar">
                <a class="icon1"th:href="@{/PaginaPrincipal}">🔧 Herramientas</a>
                <a class="icon2" th:href="@{/Reservas}">📅 Reservaciones</a>
                <a class="icon3" th:href="@{/Pagos}">💳 Pagos</a>
                <a class="icon4" th:href="@{/Historial}">📄 Historial</a>
                <a class="icon5" th:href="@{/Factura}">🧾 Facturas</a>
            </div>

            <div class="notifi_User">
                <img  class="notificacion" th:src="@{\img\campanita.png}" alt="">
                <a th:href="@{/Perfil}">
                    <div class="circle_users">
                        <img src="/img/user.png">
                    </div>
                </a>
                <label for="Checko">
                    <img  class="notificacion" th:src="@{\img\Menu (2).png}" alt="">
                </label>
            </div>
        </div>
    </div>
    <div class="Container">
        <input type="checkbox" name="check" id="Checko">
        <div class="cerrarSesion">
            <button  id="cerrar" type="submit">Cerrar sesion</button>
        </div>
    </div>
    
</body>
<script th:src="@{/js/cerrarSesion.js}"></script>
</html>