<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio JVV Tools</title>
  <link rel="stylesheet" href="style_Inicio_sesion.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

  <div class="caja_naranja">
    <img class="casco" src="img/casco1.png" alt="Casco"> 
    <img class="logo" src="img/logo_JYV_TOOLS.png" alt="Logo">
  </div>

  <div class="container">
    <div class="caja_inicio">
      <h2>Iniciar Sesión</h2>

      <div class="input-icon">
        <i class="usuario"></i>
        <input type="text" placeholder="Usuario">
      </div>

      <div class="input-icon">
        <i class="contraseña"></i>
        <input type="password" placeholder="Contraseña">
      </div>

      <label class="checkbox-label">
        <input type="checkbox"> Mostrar contraseña
      </label>

      <button>Iniciar</button>

      <p class="registro-link">
        ¿No tienes cuenta? <a href="index.html">Por favor regístrate</a>
      </p>
    </div>
  </div>

</body>
</html>
