<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JYV_TOOLS</title>
    <link rel="stylesheet" th:href="@{/css/registro_Herramientas.css}">
</head>
<body>
    <div class="contenSuper">
        <div class="bloque1Registro">
            <P><span>Registrar Herramientas</span></P>
            <div class="bloque2Registro">
                <div class="bloque3Registro">
                    <div class="registoLeft">
                        <p class="nombre">Nombre de la Herramienta <br><input class="Nombre" type="text" value=""></p>
                        <p class="cantidad">Cantidad <br><input class="Cantidad" type="text" value=""></p>
                        <div class="categoriaEnum">
                            <label for="categoriaHerramienta">Categoria</label>
                            <select id="categoriaHerramienta" >
                                <option value="">Selecciona una categoría</option>
                                <option value="1">Manuales</option>
                                <option value="2">Eléctricas</option>
                                <option value="3">Neumáticas</option>
                            </select>
                        </div>
                        <p>URL de Imagen de la Herramienta <br><input class="URL_Img" type="text" value=""></p>
                    </div>

                    <div class="registroRight">
                        <p>Marca <br><input class="Marca" type="text" value=""></p>
                        <p>Modelo <br><input class="Modelo" type="text" value=""></p>
                        <p>Descripción <br><input class="Descripcion" type="text" value=""></p>
                        <p>Precio Diario <br><input class="Precio" type="text" value=""></p>
                    </div>
                </div>

                <div class="bloque4Registro">
                    <button onclick="botonFuncion()"><p>Registrar</p></button> 
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/Proveedor/registro_Herramientas.js}"></script>

    </body>
</html>