<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JYV_TOOLS</title>
    <link rel="stylesheet" th:href="@{/css/registro_Herramientas.css}">
</head>
<body>
     <div class="header">
        <div class="contain">

            <div class="logo"><img th:src="@{/img/logo (2).png}" alt=""></div>

            <div class="navbar">
                <a class="icon1"th:href="@{/PrincipalProveedor}">🔧 Mis Herramientas</a>
                <a class="icon2" th:href="@{/RegistroHerramientas}">📅 Registrar herramienta</a>
                <a class="icon3" th:href="@{/Pagos}">💳 solicitudes</a>
                <a class="icon4" th:href="@{/Historial}">📄 Historial</a>
                <a class="icon5" th:href="@{/Factura}">🧾 Facturas</a>
            </div>

            <div class="notifi_User">
                <img  class="notificacion" th:src="@{\img\campanita.png}" alt="">
                <a th:href="@{/Perfil}">
                    <div class="circle_users">
                        <img src="/img/user.png">
                    </div>
                </a>
                <label for="Checko">
                    <img  class="notificacion" th:src="@{\img\Menu (2).png}" alt="">
                </label>
            </div>
        </div>
    </div>
    <div class="contenSuper">
        <div class="bloque1Registro">
             <input type="checkbox" name="check" id="Checko">
            <div class="cerrarSesion">
                <button  id="cerrar" type="submit">Cerrar sesion</button>
            </div>
            <P><span>Registrar Herramientas</span></P>
            <div class="bloque2Registro">
                <div class="bloque3Registro">
                    <div class="registoLeft">
                        <p class="nombre">Nombre de la Herramienta <br><input class="Nombre" type="text" value=""></p>
                        <p class="cantidad">Cantidad <br><input class="Cantidad" type="text" value=""></p>
                        <div class="categoriaEnum">
                            <label for="categoriaHerramienta">Categoria</label>
                            <select id="categoriaHerramienta" >
                                <option value="">Selecciona una categoría</option>
                                <option value="1">Manuales</option>
                                <option value="2">Eléctricas</option>
                                <option value="3">Neumáticas</option>
                            </select>
                        </div>
                        <p>URL de Imagen de la Herramienta <br><input class="URL_Img" type="text" value=""></p>
                    </div>

                    <div class="registroRight">
                        <p>Marca <br><input class="Marca" type="text" value=""></p>
                        <p>Modelo <br><input class="Modelo" type="text" value=""></p>
                        <p>Descripción <br><input class="Descripcion" type="text" value=""></p>
                        <p>Precio Diario <br><input class="Precio" type="text" value=""></p>
                    </div>
                </div>

                <div class="bloque4Registro">
                    <button onclick="botonFuncion()"><p>Registrar</p></button> 
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/Proveedor/registro_Herramientas.js}"></script>

</body>
<script th:src="@{/js/cerrarSesion.js}"></script>
</html>