<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro JVV Tools</title>
  <link rel="stylesheet" href="styles_registrar.css">
  
</head>
<body>

  <div class="caja_naranja">
    
    <img class="casco" src="img/casco1.png" alt="Casco"> 
    <img class="logo" src="img/logo_JYV_TOOLS.png" alt="">
  </div>

  <div class="container">
    <div  class="form-box"  >
      <h2>REGISTRAR</h2>
      <input type="text" placeholder="Nombres">
      <input type="text" placeholder="Apellidos">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Correo">
      <input type="password" placeholder="Contraseña">
      <select>
        <option>Rol</option>
        <option>Administrador</option>
        <option>Proveedor</option>
        <option>Usuario</option>
      </select>
      <button>Registrar</button>
    </div>
  </div>

</body>
</html>
